/*@import url("styles/colors.css");
*/
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
  color: var(--dark);
  font-weight: lighter;
  font: 400 15px/22px 'Open Sans', 'Helvetica Neue', Sans-serif;
  font-smoothing: antialiased;
  padding: 0;
  margin: 0px;
}

h1 {
  border-bottom: 1px solid #eac7df;
  padding: 20px;
  background: #333;
  color: #eee;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  width: 77%;
  margin: 0 auto;
}